@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew&display=swap');

#footer {
    
    background-color: #322d2d;
    color: rgb(234, 227, 227);
    padding: 40px 8vw;
    margin: 0;
    
    font-family: 'IBM Plex Sans Hebrew', sans-serif ;

}
*{
    margin: 0;
    padding: 0;
}
#footer #footer-main-content>div:first-child {
    width: 35%;
    justify-content: space-between;
    display: flex;
}

#footer #footer-main-content {
    display: flex;

    justify-content: space-between;
}
#footer #footer-left-div , #footer-right-div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#footer #footer-left-div span, #footer-right-div span{
    color: rgba(238, 230, 230, 0.833);
}
#footer #footer-logo {
    font-size: 120px;
    font-weight: lighter;
    color: rgb(64, 39, 210);
    -webkit-text-fill-color: #322d2d;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(234, 227, 227);
}

#footer #footerBtns {
    display: flex;
    gap: 8px;
}

#footer #footerBtns button {

    width: 30px;
    height: 30px;
    background-color: #322d2d;
    color: white;

    border: 1px solid white;
    border-radius: 50%;
}

#footer #footer-logo+div {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#footer #footerBtns+div button {
    background-color: #322d2d;
    height: 28px;
    color: white;
    font-style: italic;
    letter-spacing: 2px;
    border: 1px solid white;
    border-radius: 10px;
}
#footer #footerBottom{
    display: flex;
    font-size: 13px;
    color: rgb(177, 169, 169);
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}
#footer #footerBottom > div:first-child{
    display: flex;
    align-items: center;
    gap: 12px;
}

@media screen and (max-width : 1040px ) {
    #footer #footer-main-content {
       display: flex;
       flex-direction: column;
       }
       #footer #footer-logo{
        font-size: 80px;
       }

       #footer #footer-main-content>div:first-child{
        width: 100%;
       }
       #footer #footerBottom{
        flex-direction: column;
       }
       #footer #footerBottom>P{
        width: 100%;
        gap: 12px;
       }
       #footer .hidden{
        display: none;
       }
}