@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,500;1,600&display=swap');

#signinbtn,
#googlebtn {
	background-color: white;
	box-shadow: none;
	border: 1px solid black;
	padding: 10px;
	color: black;
	font-size: 0.9rem;
	font-family: 'Poppins', sans-serif;
}

#signinbtn:hover {
   background-color: black;
   color: white;
}

#googlebtn:hover {
	background-color: black;
	color: white;
}

#spinner {
	position: fixed;
	top: 300px;
	left: 50%;
	z-index: 2000;
	display: none;
}
.img-fluid {
	margin-top: 30%;
}

@media only screen and (min-width: 1500px) {
	#loginbox {
		margin-top: 40px;
	}

}