@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    
}

#navbar {
    font-family: "Spartan", sans-serif;
}


body {
    /* width: 100%; */
    background-color: #E1E5EE;
    overflow-x: hidden !important;
}

.section-p1 {
    padding: 10px 130px;
}

.section-m1 {
    margin: 10px 130px;
}


.mobile-nav,
.mobileIcon {
    display: none;
}

#navbar {
    /* background-image: url("../Images/navBg.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 0% right 52%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fff;
    background-color: #CAD2D3;
    position: sticky;

    top: 0;
    left: 0;
    color: white;
    height: 50px;
    z-index: 100;
    /* transition: .6s ease-in-out; */
}

#navbar .logo-box a {
    text-decoration: none;
    color: white;
}

#navbar .logo-box a h3 {
    font-size: 30px;
    font-style: italic;
}

#navbar .container-2,
#navbar .container-3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 10px 0;
    font-weight: 500;
}

#navbar .container-2 li,
#navbar .container-3 li {
    list-style: none;
    color: white;
}

#navbar .container-2 li a,
#navbar .container-3 li a {
    text-decoration: none;
    color: white;
    position: relative;

}

/* #navbar .container-2 li a ,
#navbar .container-3 li a {
   
    transition: 1s;
} */

#navbar .container-2 li a:hover::after,
#navbar .container-3 li a:hover::after {
    content: "";
    width: 70%;
    height: 3px;
    border-radius: 3px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 0px;
}

#navbar .container-3 #cartIcon {
    position: relative;
}

#navbar .container-3 #cartTotal {
    position: absolute;
    /* display: none; */
    /* border: 1px solid white; */
    background-color: rgb(255, 0, 187);
    border-radius: 50%;
    font-size: 12px;
    padding: 5px 7px;
    top: -15px;
    left: 5px;
}

.search {
    outline: none;
    line-height: 23px;
    margin-right: 9px;
    border-radius: 12px;
    width: 250px;
    outline: none;
    border: 1px solid rgb(123, 117, 117);
    background-color: #fff;
    padding: 3px 10px;
    display: none;
    margin: 0 9 0 0px;

}


/* From this point cart styles starts */



.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 120;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    opacity: 0;
}

#show {
    display: block;
    opacity: 1;
}

#cartContainer {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    right: 0;
    top: 0;
    height: 100vh;
    width: 433px;
    background-color: #ffffff;
    transform: translateX(130%);
    transition: 0.5s ease;
    z-index: 100;
    opacity: 10;

    font-family: "Spartan", sans-serif;
    letter-spacing: 0.3px;
    z-index: 1000;

}

#cartContainer::-webkit-scrollbar {
    width: 1px;
}

#cartContainer.openCart {
    transform: translateX(0);
}


#cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 19px 5px 19px;
    color: rgba(25, 24, 24, 0.907);
    font-weight: lighter;
    position: sticky;
    background-color: white;
    border-bottom: 1px solid rgb(148, 135, 135);
    width: 433px;
    top: 0;
    right: 0;

}

.crossIcon {
    font-size: 30px;
    margin: 0;
    color: rgb(91, 102, 102) !important;
    cursor: pointer;
    transition: 0.3s;
}

.crossIcon:hover {
    color: black;
    font-weight: 600;
}

#product-section {
    width: 100%;
    padding: 7px;
}

#product-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 9px;

}

.card-content {
    display: flex;
    background-color: rgb(247, 247, 247);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.cardBody {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cardBodyLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 0px;
}

.cardBodyRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 18px 18px 0px;
}

.cardImg img {
    width: 140px;
    height: 140px;
    margin: auto;
}


#product-list-wrapper .cart-btn {
    align-items: center;
    display: flex;
    border: 1px solid rgba(57, 53, 53, 0.827);
    justify-content: space-around;
    border-radius: 3px;
    padding: 3px;
    max-width: 90px;
}

.pointer {
    cursor: pointer;
}

#checkout {
    width: 433px;
    border-top: 1px solid rgb(88, 78, 78) !important;

    position: sticky;
    bottom: 0px;
    margin: 0;
    padding: 30px;
    right: 0;
    z-index: 150000000;
    background-color: white;

}

#checkout>div {
    background-color: #3E4346;
    color: white;
    width: 100%;
    margin: auto;
}

#checkout>div>p {
    text-align: center;
    padding: 15px;
}


#extra-products {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    /* width: inherit; */
    margin: 0px 20px;
}

.extra-card {
    padding: 2px;
    box-shadow: rgba(165, 60, 60, 0.497) 2px 2px 2px 1px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.extra-card img {
    width: 160px;
}

.extra-card button {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 0px;
    background-color: rgba(160, 113, 156, 0.636);
}

.extra-card p {
    text-align: center;
}

#emptyCartMsg {
    height: 530px;
    /* background-color: rgba(162, 177, 180, 0.608); */
    padding: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    background-image: url("https://img.icons8.com/ios/50/000000/happy--v1.png");
    background-position: center;
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
}


@media screen and (max-width : 1040px) {

    #cartContainer,
    #cart-header,
    #checkout {
        width: 100vw;
    }

}

@media screen and (max-width: 799px) {
    .section-p1 {
        padding: 20px 40px;
    }

    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #fff;
        background-color: #CAD2D3;
        color: white;
        height: 50px;
        z-index: 999;
        transition: .6s ease-in-out;
    }

    .mobile-nav {

        width: 200px;
        height: 100vh;
        background-color: #CAD2D3;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 110;
        color: black;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-weight: 700;
        font-size: 19px;

    }

    #navbar .container-2,
    #navbar .container-3 {
        display: none;
    }

    .mobileIcon {
        display: inline-block;
        font-size: 20px;
        font-weight: 600;
    }
}


@media screen and (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }

    #navbar {
        padding: 10px;
    }

    #navbar {
        height: 35px;
    }
}