@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,500;1,600&display=swap');


#signinbtn,
#googlebtn {
	background-color: white;
	box-shadow: none;
	border: 1px solid black;
	padding: 10px;
	color: black;
	font-size: 0.9rem;
	font-family: 'Poppins', sans-serif;
}

#signinbtn:hover {
   background-color: black;
   color: white;
}

#googlebtn:hover {
	background-color: black;
	color: white;
}

#spinner {
	position: fixed;
	top: 300px;
	left: 50%;
	z-index: 2000;
	display: none;
}
#alert-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

#alert {
	background-color: #fff;
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px 50px;
	text-align: center;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#alert p {
	margin-top: 0;
	font-weight: 400;
}

#alert button {
	display: flex;
	margin: auto;
	margin-bottom: -10px;
	padding: 8px 20px;
	border: 1px solid black;
	/* background-color: white; */
	background-color: #f0f0f0;
}

#alert button:hover {
	cursor: pointer;
	border: 0;
	background-color: black;
	color: white;
}

.img-fluid {
	width: 40%;
	margin-top: 30px;
	margin-left: 30px;
}
.img-fluid1 {
	width: 90%;
	margin-top: 30px;
	margin-left: 20px;
}

@media only screen and (min-width: 1500px) {
	#loginbox {
		margin-top: 40px;
	}

}